<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

{% extends '_layout1.html' %}

{% block head_title %}
    {{ titulo }}
{% endblock %}

{% block content %}

<div class="container mt-4 mb-1000">
    <div class="d-flex justify-content-between align-items-center">
        <h1>{{ titulo }}</h1>
        <div class="d-flex align-items-center gap-4">
            <div style="gap: 10px;">
                <a>Filtrar status:</a>
                <select id="filterStatus" class="form-control mr-2 ml-4" style="width: 200px;">
                    <option value="" class="gray-option">Selecione...</option>
                    <option value="esperando cotação">Esperando Cotação</option>
                    <option value="Aguardando avaliação">Aguardando avaliação</option>
                    <option value="Aprovada">Aprovadas</option>
                    <option value="Desaprovada">Desaprovadas</option>
                    <option value="Standby">Standby</option>
                </select>
            </div>
            <div style="gap: 10px;">
                <a>Ordenar por:</a>
                <select id="sortOrder" class="form-control" style="width: 200px;">
                    <option value="" class="gray-option" disabled selected hidden>Selecione...</option>
                    <option value="asc">A-Z</option>
                    <option value="desc">Z-A</option>
                </select>
            </div>
        </div>
    </div>

    <div class="list-group mt-4" id="requestsList">
        {% for request in all_requests %}
            <div class="list-group-item expandable-card 
            {% if request.status == 'Standby' %}bg-standby{% elif request.status == 'Desaprovada' %}bg-Desaprovada{% elif request.status == 'Aprovada' %}bg-Aprovada{% endif %}" 
            data-request-id="{{ request.id }}" 
            data-status="{{ request.status }}" 
            data-text="{{ request.request_text }}" 
            data-total-value="{{ request.total_value }}">   
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <strong>{{ request.request_text }}</strong>
                        <small class="text-muted d-block">{{ request.pub_date|date:"d/m/Y" }}</small>
                        <small id="status">Status: <span style="font-weight: bold;">{{ request.status }}<span></small>
                        <br>
                        <small>Solicitado por: {{ request.created_by.username }}</small>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        {% if request.has_quotation %} 
                        <a href="{% url 'get_quotations' request.id %}" class="btn btn-sm btn-secondary text-white" data-toggle="modal" data-target="#quotationsModal">
                            Anexos <i class="bi bi-folder"></i>
                        </a>                                               
                        {% endif %}    
                        {% if request.status == "esperando cotação" %}
                            {% if request.has_quotation %}
                                <a href="{% url 'request_to_evaluate' request.id %}" class="btn btn-sm btn-warning text-white">Enviar cotação</a>
                            {% endif %}

                            <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#quotationModal" data-request-id="{{ request.id }}">Adicionar Cotação</a>

                            <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#revisaoModal" data-request-id="{{ request.id }}">Solicitar Revisão</a>
                        {% endif %}
                        <button class="btn btn-sm btn-info toggle-card text-white" data-request-id="{{ request.id }}">Mostrar mais</button>
                    </div>
                </div>
                <div class="request-products mt-2" id="products-{{ request.id }}" style="display:none; padding-top: 10px;"></div>
            </div>
        {% empty %}
            <p class="text-muted text-center" style="margin-top: 15vh;">Nenhuma solicitação foi encontrada.</p>
        {% endfor %}
    </div>
</div>

<!-- Modal de Revisão -->
<div class="modal fade" id="revisaoModal" tabindex="-1" aria-labelledby="revisaoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="revisaoModalLabel">Revisão de Solicitação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="revisaoForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea id="commentInput" name="comment" class="form-control" placeholder="Digite seu comentário" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="revisaoForm" class="btn btn-primary">Enviar Revisão</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Cotação -->
<div class="modal fade" id="quotationModal" tabindex="-1" role="dialog" aria-labelledby="quotationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quotationModalLabel">Adicionar cotação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="quotationForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="quotation_file">Selecione o arquivo da cotação:</label>
                    <input type="file" name="quotation_file" id="quotation_file" required>
                    <input type="hidden" name="request_id" id="quotation_request_id">
                    <button type="submit" class="btn btn-primary mt-3">Enviar Cotação</button>
                </form>                                 
            </div>
        </div>
    </div>
</div>

<!-- Modal para exibir cotações -->
<div class="modal fade" id="quotationsModal" tabindex="-1" role="dialog" aria-labelledby="quotationsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quotationsModalLabel">Anexos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id="quotationList">
          <!-- As cotações serão inseridas aqui -->
        </ul>
      </div>
    </div>
  </div>
</div>


<script>
    // Modal de Revisão
    $('#revisaoModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var requestId = button.data('request-id');
        var form = $(this).find('form');
        form.attr('action', '/suprimentos/request/revision/' + requestId + '/');
    });

    // Enviar revisão via AJAX
    $('#revisaoForm').on('submit', function (e) {
        e.preventDefault();
        var form = $(this);
        var formData = form.serialize();
        var comentario = $('#commentInput').val();
        formData += '&comment=' + encodeURIComponent(comentario);

        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: formData,
            success: function () {
                location.reload();
            },
            error: function () {
                alert('Erro ao enviar a revisão');
            }
        });
    });

    // Mostrar mais e Mostrar menos
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".toggle-card").forEach(button => {
            button.addEventListener("click", function () {
                let requestId = this.getAttribute("data-request-id");
                let productContainer = document.getElementById("products-" + requestId);
    
                if (productContainer.style.display === "none" || productContainer.style.display === "") {
                    fetch(`/suprimentos/get_request_products/${requestId}/`)
                        .then(response => response.json())
                        .then(data => {
                            productContainer.innerHTML = "<strong>Produtos:</strong><br>";
                            if (data.products && data.products.length > 0) {
                                // Exibe os produtos com o nome correto
                                data.products.forEach(product => {
                                    productContainer.innerHTML += `<p>${product.product_name} - ${product.quantity}</p>`;
                                });
                            } else {
                                productContainer.innerHTML += "<p>Nenhum produto encontrado.</p>";
                            }
                            productContainer.style.display = "block";
                            this.textContent = "Mostrar menos";
                        })
                        .catch(error => {
                            console.error('Erro ao carregar os produtos:', error);
                            alert('Erro ao carregar os produtos. Tente novamente.');
                        });
                } else {
                    productContainer.style.display = "none";
                    this.textContent = "Mostrar mais";
                }
            });
        });
    });
    
    // Filtro e Ordenação
    $(document).ready(function () {
        $('#filterStatus').change(function () {
            var status = $(this).val().toLowerCase();
            $('.expandable-card').each(function () {
                var cardStatus = $(this).data('status').toLowerCase();
                if (status === "" || cardStatus === status) { // Mudança aqui: comparação exata
                    $(this).show(); // Mostrar
                } else {
                    $(this).hide(); // Esconder
                }
            });
        });
    
        $('#sortOrder').change(function () {
            var sortOrder = $(this).val();
            var cards = $('.expandable-card').get();
            cards.sort(function (a, b) {
                var textA = $(a).data('text').toUpperCase();
                var textB = $(b).data('text').toUpperCase();
                return sortOrder === 'asc' ? textA.localeCompare(textB) : textB.localeCompare(textA);
            });
            $('#requestsList').html(cards);
        });
    });
    
    // Modal de Cotação
    $('#quotationModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var requestId = button.data('request-id');
        $('#quotation_request_id').val(requestId);
    });

    // Enviar cotação via AJAX
    $('#quotationForm').on('submit', function (e) {
        e.preventDefault();
        var form = $(this)[0];  // Pegue o formulário como um objeto DOM
        var formData = new FormData(form);  // Cria um FormData para enviar o arquivo
    
        $.ajax({
            type: "POST",
            url: '/suprimentos/upload_quotation/',  // A URL que você configurou no Django para o upload
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                console.log('Resposta do servidor:', response);  // Adicione esse log
                if (response.file_url) {
                    alert('Arquivo enviado com sucesso!');
                    console.log('Arquivo enviado para:', response.file_url);
                    location.reload();  // Recarrega a página após o sucesso
                } else {
                    alert('Erro ao processar o arquivo no servidor.');
                }
            },
            error: function (xhr, status, error) {
                console.log('Erro:', xhr.responseText);  // Adicione um log para o erro
                alert('Erro ao enviar o arquivo');
            }
        });
    });

    // Modal para visualizar quotations
    $('#quotationsModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);  // O botão que foi clicado
        var href = button.attr('href');  // Pega o href do botão
        var requestId = href.split('/').filter(Boolean).pop();  // Extrai o último valor da URL
    
        // Log para verificar o valor de requestId
        console.log("Request ID enviado:", requestId);  // Exibe o valor de request.id
    
        // Verifica se o requestId não está vazio ou inválido
        if (!requestId) {
            console.error("Request ID não encontrado ou inválido.");
            return;
        }
    
        // Realiza a requisição AJAX para pegar as cotações
        $.ajax({
            url: '/suprimentos/get_quotations/' + requestId + '/',  // URL da view com o request_id
            method: 'GET',
            success: function(response) {
                var quotations = response.quotations;
                var list = $('#quotationList');
                list.empty();  // Limpa a lista antes de adicionar novas cotações
    
                if (quotations.length > 0) {
                    quotations.forEach(function(quotation) {
                        var item;
                        // Cria a URL completa para o arquivo de mídia
                        var mediaUrl = '/media/' + quotation.file; // Caminho relativo dentro da pasta 'media'

                        // Verifica se o arquivo é uma imagem
                        if (quotation.file.match(/\.(jpeg|jpg|gif|png)$/)) {
                            item = $('<li>').append('<a href="' + mediaUrl + '" target="_blank"><img src="' + mediaUrl + '" alt="Imagem" class="img-thumbnail" style="max-width: 200px; max-height: 200px;"></a>');
                        } else {
                            // Se não for imagem, apenas exibe o arquivo como link
                            item = $('<li>').append('<a href="' + mediaUrl + '" target="_blank">' + quotation.file + '</a>');
                        }
                        list.append(item);
                    });
                } else {
                    list.append('<li>Nenhuma cotação encontrada.</li>');
                }
            },
            error: function(xhr, status, error) {
                console.log("Erro ao carregar as cotações: " + error);
            }
        });
    });
</script>

{% endblock %}



