{% extends '_layout1.html' %}

{% block content %}
    <div class="container" style="max-width: 600px; margin-top: 22.5vh; margin-bottom: 22.5vh;">
        <div class="card shadow-lg border-light rounded">
            <div class="card-header text-white" style="background-color: #D6891F;">
                <h5 class="card-title">Cadastro Centro de Custo</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-warning mt-2">Salvar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
